body {
	margin:0px;
	padding:0px;
	left:0px;
	top:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:16px;
	color:#676767;
}

img {
	border:0px;
}

p {
	margin:0px;
	padding:0px;
	margin-bottom:16px;
}

.wrapper {
	width:975px;
	margin:0px auto;
	padding:0px;
	overflow:hidden;
}

.top_section {
	width:975px; height:58px; background-color:#00877c;
}

.msd_logo {
	width:184px;
	height:58px;
	display:inline-block;
	background-image:url('images/msd_logo.png');
	background-repeat:no-repeat;
	background-position:10px top;
}

.top_menu {
	margin:0px; padding:0px; display:inline-block;
}

ul.top_menu_item {
	margin:0px;
	padding:0px;
	list-style:none;
	/*width:100%;*/
	height:58px;
}

ul.top_menu_item li {
	float:left;
	height:58px;
	line-height:58px;
	overflow:hidden;
	position:relative;
	margin:0px;
	padding:0px;
	background-color:transparent;
	border-left:1px #ffffff solid;
	border-collapse:collapse;
	border-spacing:0px;
	font-size:15px;
}

ul.top_menu_item li a {
	display:block;
	padding:0px 16px;
	text-decoration:none;
	color:#ffffff;
}

ul.top_menu_item li a:hover {
	background-color:#006058;
}

ul.top_menu_item li.active {
	background:#006058;
	color:#ffffff;
}

ul.top_menu_item li.active a {
	background-color:#006058;
	color:#ffffff;
}

ul.top_menu_item li.active a:hover {
	background-color:#006058;
	color:#ffffff;
}

.hero {
	width:975px;
	height:438px;
	display:block;
	background-image:url('images/msd_hero.jpg');
	background-repeat:no-repeat;
	background-position:left top;
}

.mid_menu {
	width:873px;
	margin:0px auto;
	padding:10px 0px 10px 0px;
}

.mid_menu img {
	margin-right:10px;
}

.content_section {
	width:924px;
	margin:0px auto 30px auto;
}

.welcome_cont_middle {
	width:924px;
	margin:0px 0px 20px 0px;
	padding:0px;
	background-image:url('images/msd_module_02.png');
	background-repeat:repeat-y;
	background-position:left top;
}

.welcome_cont_top {
	width:924px;
	margin:0px;
	padding:20px 0px 0px 0px;
	background-image:url('images/msd_module_01.png');
	background-repeat:no-repeat;
	background-position:left top;
}

.welcome_cont_bottom {
	width:924px;
	margin:0px;
	padding:0px 0px 10px 0px;
	background-image:url('images/msd_module_03.png');
	background-repeat:no-repeat;
	background-position:left bottom;
}

.welcome_cont {
	width:884px;
	margin:0px;
	padding:0px 20px 0px 20px;
}

.askclt_form_section {
	margin:0px;
	padding:0px;
}

.sub_title {
	width:100%;
	border-top:5px #8dbae0 solid;
	border-collapse:collapse;
	padding-top:14px;
}

.footer_section {
	width:975px;
	height:17px;
	display:block;
	background-image:url('images/msd_footer_05.png');
	background-repeat:repeat-x;
	background-position:left top;
	margin-bottom:30px;
}

.qanda_menu_section {
	width:924px;
	height:48px;
	margin:22px auto 12px auto;
	padding:0px;
}

.qanda_menu {
	display:inline-block;
}

.qanda_search {
	display:inline-block;
	width:228px;
	height:48px;
	background-image:url('images/msd_qandamenu_04.png');
	background-repeat:no-repeat;
	background-position:left top;
}

.searchBox {
	position:absolute;
	margin:17px 0px 0px 30px;
	z-index:500;
}

.searchBox input.text {
	width:166px;
	border:0px;
	border-collapse:collapse;
	border-spacing:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#676767;
}

.searchBox input.butn {
	width:10px;
	height:10px;
}

.info {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#b9ece7;
}

.info td {
	vertical-align:middle;
}

.info td.date {
	text-align:center;
	vertical-align:middle;
	padding:10px;
	border-right:2px #ffffff solid;
	border-bottom:2px #ffffff solid;
	border-collapse:collapse;
	border-spacing:0px;
}



.info td.date2 {
	border:3px solid;border-color:red; background-color:gray;
}

.info td.question {
	padding:10px;
	border-right:2px #ffffff solid;
	border-bottom:2px #ffffff solid;
	border-collapse:collapse;
	border-spacing:0px;
}

.info td.answer {
	padding:10px;
	border-bottom:2px #ffffff solid;
	border-collapse:collapse;
	border-spacing:0px;
}

.info tr:hover {
	background-color:#eefffd;
}

.odd {
	background-color:#a1e5df;
}

.even {
	background-color:#b9ece7;
}




