<?xml version="1.0"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="Count" value="250" />
    </appSettings>
    <system.web>
        <globalization culture="en-US"/>
        <compilation debug="true"  />
	<customErrors mode="Off"/>

        <pages buffer="false" maintainScrollPositionOnPostBack="true" />
        <urlMappings>
            <add url="~/one.htm" mappedUrl="Ch10-01.aspx"/>
            <add url="~/two.asp" mappedUrl="Ch10-02.aspx"/>
        </urlMappings>
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="adm@aspnet.flag.com.tw">
                <network host="192.168.0.5" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>

	<connectionStrings>
     		<add name="CustomerDataConnectionString"
      		connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
      		Data Source=|DataDirectory|CLT_MailBox.mdb"        
      		providerName="System.Data.OleDb" />
	</connectionStrings>


</configuration>
